:root {
  --max-width: 500px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cursor-pointer {
  cursor: pointer;
}

.d-grid {
  display: grid;
}

html {
  overflow-y: auto;
}

.place-center {
  place-items: center;
}

.required :deep(.v-input::after) {
  content: "*";
}

.rounded-theme {
  border-radius: 1px;
}
