@font-face {
  font-family: "Permanent Marker";
  src: url("./PermanentMarker-Regular.ttf");
}

:root {
  --max-width: 500px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

.cursor-pointer {
  cursor: pointer;
}

.d-grid {
  display: grid;
}

html {
  overflow-y: auto;
}

.line-clamp-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  word-break: break-all;
}

.place-center {
  place-items: center;
}

.required :deep(.v-input::after) {
  content: "*";
}

.rounded-theme {
  border-radius: 1px;
}
